.registration_wrapper
  %h2 Forgot your password?
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    = f.label :email
    = f.email_field :email

    = f.submit "Reset Password"
  .registration_tab
    = render :partial => "devise/shared/links"