= form_for(@property, :html => { :multipart => true }) do |f|
  - if @property.errors.any?
    #error_explanation
      %h4
        = pluralize(@property.errors.count, "error")
        prohibited this property from being saved:
      %ul
        - @property.errors.full_messages.each do |msg|
          %li= msg
  = f.label :address
  = f.text_field :address
  = f.label :description
  = f.text_area :description
  = f.label :square_footage
  = f.text_field :square_footage, :size => 4
  = f.label :bedrooms, 'Number of Bedrooms'
  = f.text_field :bedrooms, :size => 2
  = f.label :rooms, 'Rooms'
  = f.text_field :rooms, :size => 2
  = f.label :laundry, 'Laundry Included?'
  = f.check_box :laundry
  = f.label :price, 'Price'
  $#{f.text_field :price, :size => 4}
  per
  \#{f.select :unit, options_for_select([ ['Month', 'month'], ['Year', 'year'], ['Semester', 'semester'] ])}
  = f.label :summer, 'Available for Summer'
  = f.check_box :summer
  = f.label :utilities, "Included utilities"
  = f.text_field :utilities
  = f.label :parking, 'Parking included?'
  = f.check_box :parking
  = f.fields_for :photos do |photo_form|
    %p
      - if not photo_form.object.new_record?
        = image_tag photo_form.object.photo.url(:medium)
      = photo_form.label :main, "Featured Photo"
      = photo_form.check_box :main, :class => "featured"
      - if photo_form.object.new_record?
        = photo_form.file_field :photo
      - if not photo_form.object.new_record?
        = photo_form.hidden_field :_destroy, :value => 0
        %a.delete_photo{:href => "#"} remove photo
  = add_photo_link('Add Photo')
  .actions
    = f.submit