<%= form_for(@property, :html => { :multipart => true }) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class='field'>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class='field'>
    <%= f.label :square_footage %><br />
    <%= f.text_field :square_footage, :size => 4 %>
  </div>

  <div class='field'>
    <%= f.label :bedrooms, 'Number of Bedrooms' %><br />
    <%= f.text_field :bedrooms, :size => 2 %>
  </div>

  <div class='field'>
    <%= f.label :rooms, 'Rooms' %> <br/>
    <%= f.text_field :rooms, :size => 2 %>
  </div>

  <div class='field'>
    <%= f.label :laundry, 'Laundry Included?' %><br />
    <%= f.check_box :laundry %>
  </div>

  <div class='field'>
    <%= f.label :price, 'Price' %> <br />
    $<%= f.text_field :price, :size => 4 %>
    per 
    <%= f.select :unit, options_for_select([
      ['Month', 'month'],
      ['Year', 'year'],
      ['Semester', 'semester']
    ]) %>
  </div>

  <div class='field'>
    <%= f.label :summer, 'Available for Summer' %> <br />

    <%= f.check_box :summer %>
  </div>

  <div class='field'>
    <%= f.label :utilities, "Included utilities" %> <br />

    <%= f.text_field :utilities %>
  </div>

  <div class='field'>
    <%= f.label :parking, 'Parking included?' %> <br />

    <%= f.check_box :parking %>
  </div>

  <%= f.fields_for :photos do |photo_form| %>
    <p>
      <% if not photo_form.object.new_record? %>
        <%= image_tag photo_form.object.photo.url(:medium) %>
      <% end %>

      <%= photo_form.label :main, "Featured Photo" %>
      <%= photo_form.check_box :main, :class => "featured" %>

      <% if photo_form.object.new_record? %>
        <%= photo_form.file_field :photo %>
      <% end %>


      <% if not photo_form.object.new_record? %>
        <%= photo_form.hidden_field :_destroy, :value => 0 %>
        <a href="#" class="delete_photo">remove photo</a>
      <% end %>
    </p>
  <% end %>

  <%= add_photo_link('Add Photo') %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
