<p id="notice"><%= notice %></p>
<h2><%= @property.address %></h2>

<p><%= @property.description %></p>

<dl>
	<dt>Landlord:</dt>
	<dd><%= @property.landlord.name %></dd>

	<dt>Phone:</dt>
	<dd><%= @property.landlord.phone %></dd>

	<% if @property.landlord.hide_email == false %>
		<dt>Email:</dt>
		<dd><a href='mailto:<%= @property.landlord.user.email %>'><%= @property.landlord.user.email %></a></dd>
	<% end %>

	<dt>Laundry included:</dt>
	<dd><%= @property.laundry ? 'yes' : 'no' %></dd>

	<dt>Price:</dt>
	<dd>$<%= @property.price %> per <%= @property.unit %></dd>

	<dt>Number of Bedrooms:</dt>
	<dd><%= @property.bedrooms %></dd>

	<dt>Square Footage:</dt>
	<dd><%= @property.square_footage %></dd>
</dl>

<% if @property.has_photo? %>
	<div id="slides">
	  <div class="slides_container">
	  	<% @property.photos.each do |photo| %>
	  		<div>
	  			<%= image_tag photo.photo.url(:medium) %>
	  		</div>
	  	<% end %>
	  </div>
	</div>
<% end %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', :controller => 'pages', :action => 'list' %>
