<% properties.each_with_index do |property, index| %>
  <% if index % 3 == 0 %>
    <div class='row'>
  <% end %>

  <div class='post'>
    <% if property.has_photo? %>
        <%= image_tag property.featured_photo.photo.url(:thumb), :class => 'house' %>
    <% end %>

    <h4><%= property.address %></h4>

    <dl class='info'>
      <dt>Number of Rooms:</dt>
      <dd><%= property.bedrooms %></dd>

      <dt>Parking:</dt>
      <dd>Yes</dd>

      <dt>Rent:</dt>
      <dd>$<%= property.price %><span class='pay_period'>/<%= property.unit %></span></dd>
    </dl>

    <% if user_signed_in? and property.landlord_id == @user.landlord.id %>
      <%= link_to 'edit', edit_property_url(property) %>
    <% end %>

    <%= link_to 'more', :controller => 'properties', :action => 'show', :id => property.id %>
  </div>

  <% if index % 3 == 2 %>
    </div>
  <% end %>
<% end %>