%section
  %a{:href => '/list'}
    .view_by.bedrooms View All
  %a{ :href => '/list?bedrooms=0' }
    .view_by.bedrooms.short Studio
  %a{ :href => '/list?bedrooms=1' }
    .view_by.bedrooms 1 Bedroom
  %a{ :href => '/list?bedrooms=2' }
    .view_by.bedrooms 2 Bedrooms
  %a{:href => '/list?bedrooms=3' }
    .view_by.bedrooms 3 Bedrooms
  %a{:href => '/list?bedrooms=4' }
    .view_by.bedrooms 4 Bedrooms
  %a{:href => '/list?bedrooms=5' }
    .view_by.bedrooms 5 Bedrooms
  %a{:href => '/list?bedrooms=6' }
    .view_by.bedrooms 6+ Bedrooms
%section
  %h3 Map of Geneseo
  #big_map
  %section
    %h3 Featured:
    - @featured.each_with_index do |property, index|
      - if index % 2 == 0
        .row

      %a{:href => 'properties/' + property.id.to_s }
        .post
          - if property.has_photo?
            = image_tag property.featured_photo.photo.url(:thumb)

          %h4
            = property.address

          %p
            = property.bedrooms
            bedrooms

          %p
            = "$" + property.price.round.to_s
            per 
            = property.unit

    %p 

      = link_to 'Landlords, get your properties featured right here on the homepage!', { :action => 'list' }, { :class => 'view_by view_all' }