- if @properties.length == 0 && @ajax == true
  %p
    Nothing found.
    %a.reset_filters.btn{:href => "#"} reset all filters
- else
  - if @ajax == true
    = render :partial => 'list', :locals => { :properties => @properties }
  - else

    %h3 Bedrooms
    %nav#size_categories
      %ul
        %li.active
          %a{:href => "#", :rel => "-1"}
            All (#{@properties.length})
        %li
          %a{:href => "#", :rel => "0"} Studio
        %li
          %a{:href => "#", :rel => "1"}
            1 Bedroom (#{@counts[1] || 0})
        %li
          %a{:href => "#", :rel => "2"}
            2 Bedrooms (#{@counts[2] || 0})
        %li
          %a{:href => "#", :rel => "3"}
            3 Bedrooms (#{@counts[3] || 0})
        %li
          %a{:href => "#", :rel => "4"}
            4 Bedrooms (#{@counts[4] || 0})
        %li
          %a{:href => "#", :rel => "5"}
            5 Bedrooms (#{@counts[5] || 0})
        %li
          %a{:href => "#", :rel => "6"}
            6+ Bedrooms (#{@counts[6] || 0})
    #sort_categories
      %h3 Rent
      .sliderbar
    %section.listing
      - if @properties.length == 0
        Nothing found.
        %a.reset_filters.btn{:href => '#'} reset all filters
      - else
        = render :partial => 'list', :locals => { :properties => @properties }