<h1>Dashboard</h1>

<table class='dashboard'>
	<% @landlord.properties.each do |property| %>
		<tr>
			<td>
				<% if property.has_photo? %>
					<%= image_tag property.featured_photo.photo.url(:thumb) %>
				<% end %>
			</td>

			<td class='address'>
				<h3><%= property.address %></h3> 

				<ul>
					<li><%= property.bedrooms %> bedroom<%= 's' if property.bedrooms > 1 %></li>
					<li>$<%= property.price %> per <%= property.unit %></li>
			</td>

			<td class='actions'>
				<%= link_to 'view listing', property %> 
				<%= link_to '(edit)', edit_property_path(property) %> 
				<%= link_to '(destroy)', property, confirm: 'Are you sure?', method: :delete %></td>
			</td>
		</tr>
	<% end %>
</table>

<%= link_to 'Add Property', new_property_path %>

<h1>Your Information</h1>

<%= form_for @landlord do |form| %>
	<div class='field'>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>

	<div class='field'>
		<%= form.label :phone, 'Phone Number' %>
		<%= form.text_field :phone %>
	</div>

	<div class='field'>
		<%= form.label 'Hide email address' %>
		<%= form.check_box :hide_email %>
	</div>

	<div class='actions'>
		<%= form.submit %>
	</div>
<% end %>