<h1>Listing properties</h1>

<table>
  <tr>
    <th>Landlord</th>
    <th>Address</th>
    <th>Description</th>
    <th>Price</th>
    <th>Laundry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.landlord.name %></td>
    <td><%= property.address %></td>
    <td><%= property.description %></td>
    <td><%= property.price %> per <%= property.unit %></td>
    <td><%= property.laundry ? 'included' : 'not included' %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path %>
