<!DOCTYPE html>
<html>
<head>
	<title>Geneseo Offcampus</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<script type='text/javascript' src='/js/jquery.nouislider.js'></script>
	<script type='text/javascript' src='/js/slides.min.jquery.js'></script>

	<script type='text/javascript' src='/js/properties.js'></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css' />
    <link href='/css/nouislider.css' rel='stylesheet' type='text/css' />
</head>
<body>
<header>
	<div id="login">
		Landlords:

		<% if user_signed_in? %>
			Logged in as: <%= current_user.landlord.name %>. <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> | 
			<%= link_to('Dashboard', { :controller => 'landlords', :action => 'dashboard' }) %>
		<% else %>
			<%= link_to('Login', new_user_session_path) %> |
			<%= link_to('Signup', new_user_session_path) %>
		<% end %>
	</div>
	<div id="header_wrapper">
		<h1>Geneseo Off-Campus</h1>
		<h2>The better place to find off-campus housing.</h2>
	</div>
	<p class='notice'><%= notice %></p>
	<p class='alert'><%= alert %></p>
</header>

<div id='content'>
	<div id='content-wrapper'>
		<%= yield %>
	</div>
</div>

<footer></footer>

</body>
</html>
